
.table {
    width: 100%;
    border-collapse: collapse;
}

.table tbody {
    font-size: 14px;
}

.table tbody tr {
    border-bottom: 1px solid rgba(0, 0, 0 , 0.1);
}

.table thead tr {
    border-bottom: 2px solid rgba(0, 0, 0 , 0.1);
}

.table th {
    padding: 12px;
    text-align: left;
    border: 0;
}

.table td {
    padding: 8px 14px;
    text-align: left;
    border: 0;
}

.table th:nth-child(1)  {
    width: 80%
}

.table td:last-child  {
    text-align: right;
}

.table tbody tr:nth-child(odd) {
    background-color: rgba(100, 100, 100, 0.1);
}

.table a {
    color: var(--primary-color);
    text-decoration: underline;
}