.container {
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex: 1 1 600px;
    justify-content: space-between;
    height: 100%;
}

.container .description {
    white-space: pre-wrap;
}

.container a {
    color: var(--primary-color);
    text-decoration: underline;
}

.container audio {
    width: 100%;
}