.container {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    height: 100%;
    flex: 1;
}

.container .title {
    width: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.container .description {
    width: 100%;
}

.container h4 {
    margin-bottom: 0;
}

.container p {
    font-style: italic;
    font-size: 14px;
    margin-top: 5px;
}

.container .description a {
    color: var(--primary-color);
    text-decoration: underline;
}
