
.input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: 1px solid rgba(0, 0, 0 , 0.2);
    outline: none;
    background-color: transparent;
    box-shadow:  1px 1px 4px 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;

}

.input:focus {
    border: 1px solid var(--primary-color);
}